<h1>Добавить группу</h1>

<form action="/addgroups" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Наименование группы</label>
    <input type="text" name="name" class="form-control" id="name" aria-describedby="Введите наименование группы">
  </div>
  <button class="btn btn-primary">Добавить </button>
</form>